.cart-container {
    margin: 0 50px;
    display: block;
}

.cart-title {
    display: block;
}

.cart-wrapper {
    display: flex;
    justify-content: space-between;
}

.cart-content {
    width: 68%;
}

.cart-sum {
    width: 28%;
    background-color: rgb(231, 231, 231);
}

.cart-table {
    width: 100%;
    text-align: right;
}

.table-img {
    text-align: center;
    width: 20%;
}

.table-name {
    width: 20%;
}

.table-price {
    width: 15%;
}

.table-quantity {
    width: 20%;
}

.input-quantity {
    width: 50%;
}

.table-sum {
    width: 20%;
}

.table-remove {
    width: 5%;
}

.table-product-exit-active {
    animation: delete 1s ease-out forwards;
}

@keyframes delete {
    0% {
        transform: translateX(0);
    }

    30% {
        opacity: 0.7;
        transform: translateX(30px);
    }

    100% {
        opacity: 0;
        transform: translateX(-200px)
    }
}