.cart-remove-btn {
    background-color: red;
    color: #fff;
    border: none;
    outline: auto;
    border-radius: 50%;
    transition: all .2s linear;
}

.cart-remove-btn:hover {
    background-color: rgb(179, 0, 0);
}