.table-item {
    height: 80px;
}

.table__subtotal {
    font-size: 1.2rem;
}

.cart-remove-btn {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 40%;
    transition: all .2s linear;
}

.cart-remove-btn:hover {
    background-color: rgb(179, 0, 0);
}